REACT_APP_SUPABASE_URL=https://zpdxdwzervdhlpodrmep.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpwZHhkd3plcnZkaGxwb2RybWVwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTY1NjEwNzEsImV4cCI6MjA3MjEzNzA3MX0.nsQz7DpqWV4z4c6_V9Lr01MUSqoN-K-KcqnB3OYhcvM