/* src/pages/Map/Map.module.css */

.mapPageLayout {
    display: flex;
    height: calc(100vh - 60px); /* Sesuaikan tinggi berdasarkan tinggi header Anda */
    width: 100%;
}

.mapContainer {
    flex-grow: 1;
    height: 100%;
}

.loadingContainer,
.errorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.2rem;
}