/* src/pages/Map/MapMarkers.css */

.custom-school-icon-container {
  background: none !important;
  border: none !important;
}

.custom-school-icon {
  background: white;
  border: 2px solid #007bff;
  color: #007bff;
  font-weight: bold;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.2);
  transition: all 0.2s ease;
}

.custom-school-icon:hover {
  transform: scale(1.1);
  background: #007bff;
  color: white;
}

.kecamatan-label, .desa-label {
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 2px 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.kecamatan-label {
    font-size: 12px;
    font-weight: bold;
    color: #333;
}

.desa-label {
    font-size: 10px;
    color: #555;
}

/* Override default cluster styles */
.marker-cluster-small,
.marker-cluster-medium,
.marker-cluster-large {
	background-color: rgba(25, 118, 210, 0.7); /* Biru dengan transparansi */
}

.marker-cluster-small div,
.marker-cluster-medium div,
.marker-cluster-large div {
	background-color: rgba(21, 101, 192, 0.8); /* Biru lebih gelap */
	color: #fff;
}